<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <title>湖南头条方言大考</title>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/swiper.min.css"/>
    <link rel="stylesheet" href="../css/switch.css"/>
    <script src="../js/zepto.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/swiper.animate.min.js"></script>

</head>
<body>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <section class="swiper-slide swiper-no-swiping  swiper-slide1 ">
            <img src="../img/begin.png" class="begin ani"/>
            <img src="../img/broke.png" class="broke ani" />
            <img src="../img/title.png" class="title ani" />
            <img src="../img/content.png" class="content ani"/>
            <p class="pv myPV ani"><span>已参与人数</span><span class="count">1234567</span></p>
            <p class="hideFont">aa</p>
        </section>
        <!--<section class="swiper-slide swiper-slide2 swiper-no-swiping" >-->
        <!--<img thisCity="1" src="__ROOT__/static/fangyan/img/questionCity.png" class="questionCity " >-->
        <!--<div class="questionAudio" >-->
        <!--<p class="tap" isClick="1">-->
        <!--<span>点击播放</span>-->
        <!--<img src="__ROOT__/static/fangyan/img/play.png" class="audioAnimate">-->
        <!--<img src="__ROOT__/static/fangyan/img/circle.png" class="circle"/>-->
        <!--<audio  src="__ROOT__/static/fangyan/01.mp3" class="hide music"></audio>-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="score">-->
        <!--<span thisScore="1">90</span>-->
        <!--<span>分</span>-->
        <!--</div>-->
        <!--<div class="questionAndAnswer">-->
        <!--<p class="question">苹果还是不填</p>-->
        <!--<div class="answer">-->
        <!--<ul class="answerContent">-->
        <!--<li class="answer_left"></li>-->
        <!--<li class="answer_main">A.甜</li>-->
        <!--<li class="answer_right"></li>-->
        <!--</ul>-->
        <!--<input type="radio" name="aaa" isTrue="0" />-->
        <!--</div>-->
        <!--</div>-->
        <!--<img src="__ROOT__/static/fangyan/img/next.png" class="next">-->
        <!--<img src="__ROOT__/static/fangyan/img/prev.png" class="prev">-->
        <!--<p class="noAnswer" thisNoAnswer="1">xx人已在此题阵亡</p>-->
        <!--</section>-->
    </div>
</div>
<div class="showRight"></div>
<div class="showFalse"></div>
<script src="../js/touch.js"></script>

<script src="../js/language.js"></script>
</body>
<script>
    var score = 0;
</script>
<!-- 分享功能  start-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">




</script>

<!-- 分享功能  end-->

<div style="display: none">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258180309'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1258180309%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</html>